@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,900;1,400&display=swap");

$font-family-sans-serif: "Source Sans 3";

$headings-font-weight: 600;

// So far, there are only two header sizes in the designs:
$h3-font-size: 1rem * 1.25 !default;
$h4-font-size: 1rem * 1.125 !default;